registry.json

target
.idea
# Ignore Gradle project-specific cache directory
.gradle

*.iml
*.bat

# Structure resource directories
lobby
sky
nether
stone

# Server directory
run

# Ignore Gradle build output directory
build
