registry.json

target
.idea
# Ignore Gradle project-specific cache directory
.gradle

*.iml
*.bat
*.jar

# Irrelevant stuff that no one needs anyway
run
infinity/config/config.json

# Ignore Gradle build output directory
build
